# environment
/env/
/venv/

.DS_Store
.coverage
.idea
.module-cache
.vagrant
.python-version

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

# Uglified JavaScript
dist/

# Staticfiles
staticfiles/

# npm
npm-debug.log

# nose
nosetests.json
nosetests.xml

